.btn-show-dashboard-01 {
    margin-left: 5px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
}

.btn-show-dashboard-01:hover {
    cursor: pointer;
}

.toko-add-new-01 {
    margin-left: 5px;
    background-color: #20A8D8;
    outline: none;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

.toko-add-new-01:hover {
    cursor: pointer;
}

.toko-input-new-barang {
    width: 23%;
    margin-right: 2%;
    height: 37px;
    padding-left: 10px;
    outline: none;
}

.edit-btn-toko {
    background-color: #20A8D8;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.delete-btn-toko {
    background-color: #F86C6B;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.edit-btn-toko:hover {
    cursor: pointer;
}

.delete-btn-toko:hover {
    cursor: pointer;
}

.input-edit-toko {
    height: 30px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
}

.input-cari-barang-toko {
    height: 40px;
    width: 200px;
    padding: 7px;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: #363636;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.new-sale-box {
    border: 0.5px solid #c4c4c4;
    padding: 20px;
}

.new-sale-big-box {
    display: flex;
}

.new-sale-row-box {
    display: flex;
    width: 70%;
}

.new-sale-row-box02 {
    width: 30%;
}

.new-sale-column-box {
    margin-top: 20px;
    width: 24%;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 120px;
    margin-right: 20px;
    font-size: small;
    flex-direction: column;
}

.sale-qty-btn {
    height: 18px;
    width: 24px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    border: none;
    outline: none;
    border-radius: 4px;
}

.sale-qty-btn:hover {
    cursor: pointer;
}

.cart-item-box {
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cart-item-name {
    font-size: large;
}

.cart-item-name input {
    font-size: small;
    width: 50px;
    text-align: center;
}

.btn-check-out {
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    background-color: #20A8D8;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.btn-check-out:hover {
    cursor: pointer;
    color: #5e5e5e;
}

.btn-close-sale:hover {
    cursor: pointer;
    color: #5e5e5e;
}

.btn-close-sale {
    width: 25%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    background-color: #F86C6B;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    transition: 0.5s;
}