.btn-show-dashboard-01 {
    margin-left: 5px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
}

.btn-show-dashboard-01:hover {
    cursor: pointer;
}

.toko-add-new-01 {
    margin-left: 5px;
    background-color: #20A8D8;
    outline: none;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

.toko-add-new-01:hover {
    cursor: pointer;
}

.toko-input-new-barang {
    width: 23%;
    margin-right: 2%;
    height: 37px;
    padding-left: 10px;
    outline: none;
}

.edit-btn-toko {
    background-color: #20A8D8;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.delete-btn-toko {
    background-color: #F86C6B;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.edit-btn-toko:hover {
    cursor: pointer;
}

.delete-btn-toko:hover {
    cursor: pointer;
}

.input-edit-toko {
    height: 30px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
}

.input-cari-barang-toko {
    height: 40px;
    width: 200px;
    padding: 7px;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: #363636;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.new-sale-box {
    padding: 20px;
    border-radius: 4px;
    background-color: #FAFAFA;
    margin-bottom: 100px;
}

.new-sale-big-box {
    display: flex;
}

.new-sale-row-box {
    width: 70%;
}

.new-sale-row-box-002 {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    min-height: 300px;
    max-height: 500px;
    width: 97%;
    margin-top: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 10px;
    

}

.new-sale-row-box02 {
    width: 30%;
    padding: 2%;
}


.new-sale-search-row {
    display: flex;
}

.new-sale-search-column {
    /* background-color: lawngreen; */
    width: 50%;
}

.new-sale-search-column input {
    width: 75%;
    background-color: white;
    color: black;
}

.new-sale-column-box {
    margin-bottom: 15px;
    width: 22%;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-right: 20px;
    font-size: small;
    flex-direction: column;
    box-shadow: 2px 2px 1px #c4c4c4;
}

.new-sale-column-box p {
    font-size: 15px;
}

.new-sale-column-box span {
    font-size: 12px;
}

.sale-qty-btn {
    height: 18px;
    width: 24px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
}

.sale-qty-btn:hover {
    cursor: pointer;
}

.cart-item-box {
    border: 1px solid #c4c4c4;
    padding: 10px;
    width: 95%;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 1px #c4c4c4;
    
}

.cart-item-name {
    font-size: 16px;
}

.cart-item-name input {
    font-size: small;
    width: 50px;
    text-align: center;
}

.btn-check-out {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    background-color: #20A8D8;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s;
    color: white;
}

.btn-check-out:hover {
    cursor: pointer;
    color: #f4f4f4;
}

.btn-close-sale:hover {
    cursor: pointer;
    color: #5e5e5e;
}

.btn-close-sale {
    width: 15%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    background-color: #F86C6B;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s;
}

.cart-box {
    overflow-y: scroll;
    height: 400px;
}

.check-out-box {
    display: flex;
    margin-bottom: 15px;
}

.customer-list-box {
    overflow-y: scroll;
    height: 200px;
    background-color: #303030;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
}

.customer-list-content {
    padding: 12px;
    transition: 0.3s;
}

.customer-list-content:hover {
    background-color: #6e6e6e;
    cursor: pointer;
}

.sale-diskon-btn {
    background-color: #FEC106;
    margin-left: 7px;
    font-size: 12px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 4px;
    font-weight: bold;
}

.sale-diskon-btn:hover {
    cursor: pointer;
}

.sale-input-diskon {
    margin-left: 7px;
    outline: none;
    border: none;
    background-color: #363636;
    padding: 4px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.sale-discount-label {
    font-size: 12px;
    background-color: #FEC106;
    padding: 4px;
    /* margin-left: 7px; */
    float: right;
    font-weight: bold;
    border-radius: 4px;
}

.form-update-jumlah-barang span{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-update-jumlah-barang input {
    padding: 10px;
}

.input-butir-sales {
    height: 27px;
    outline: none;
    border: 1px solid #c4c4c4;
    outline: none;
    border-radius: 2px;
    padding: 5px;
}

.input-butir-sales-box {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add-butir-btn-sales {
    height: 22px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    font-size: 11px;
}

.add-butir-btn-sales:hover {
    cursor: pointer;
}

.sale-qty-btn-add-cart {
    width: 90%;
    height: 30px;
    margin-top: 10px;
    background: none;
    outline: none;
    border: 0.5px solid #20A8D8;
    border-radius: 7px;
    font-weight: bold;
    font-size: 11px;
    color: #20A8D8;
    transition: 0.5s;
}


.sale-qty-btn-add-cart:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

